* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h4 {
    font-size: 1.1em !important;
}

p {
    font-size: 0.8em;
}

.caption {
    margin-top: -4.5em;
}

.carusel-responsive {
    display: block;
    max-width: 100% !important;
    margin-right: 5em;
}

.img-carousel {
    display: block !important;
    max-width: 140%;
    width: 23em!important;
    height: 10em !important;
}

.icon-tv {
    position: relative;
    width: 30px !important;
    height: 25px!important;
    bottom: 1em !important;
    left: 16em!important;
    background-color: black !important;
}

.texto-Series {
    color: rgb(246, 240, 240) !important;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.texto-Pelis {
    color: aliceblue;
    margin-left: 0.5em;
    margin-top: 3em;
}

.card-title {
    max-width: 100%;
    font-size: 1.2em;
}

.card-text {
    max-width: 100%;
    font-size: 0.7em;
    font-family: sans-serif;
}

.contenedor-card {
    max-width: 100%;
    padding: 1em !important;
}

.card {
    max-width: 100%;
    max-height: 100%;
    width: 12em;
    height: 25em !important;
    margin-top: 5%;
}

.card-crud {
    max-width: 100%;
    min-height: auto;
}

.img-card-crud {
    width: 10.6em!important;
    height: 16em !important;
    object-fit: cover;
}

body {
    width: 133em;
    margin-left: 3em;
}

.Fotos-Pelis {
    margin-left: 15em;
}

.card-body {
    background-color: black;
}

.card:hover {
    box-shadow: 6px 14px 16px 0px rgba(0, 0, 0, 0.75);
    transition: all 400ms ease;
    transform: translateY(-2%);
}

.hr_class {
    margin-top: 1em!;
    border-top: 5px solid #7e7979;
}

@media (max-width: 770px) {
    .carusel-responsive {
        margin-left: 2em !important;
    }
}

@media (min-width: 766x) {
    .carusel-responsive {
        margin-left: 10em !important;
    }
}

@media (min-width: 380px) {
    .pelis-col {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 576px) {
    .pelis-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .pelis-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 562px) {
    .pelis-col {
        margin-left: 5em;
    }
}


/*   aquie va el codigo del banner*/

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* Altura del banner */
    overflow: hidden;
}

.banner-animated {
    animation: slide 4s infinite;
    /* Duración de la animación y repetición infinita */
}

.banner-img {
    max-width: 100%;
    /* Ancho máximo del banner */
    height: auto;
    /* Altura automática del banner */
}


/* Animación */

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(80vw - 120%));
    }
    100% {
        transform: translateX(0);
    }
}